<div class="continer">
  <div class="cont-text">
    <h1>Un lugar de oportunidades</h1>
   <p>Nuestro Colegio Alemán Córdoba, es una entidad sin fines de lucro perteneciente a la Asociación Escolar y Cultural Alemana de Córdoba (A.E.C.A.C.), conformada por padres, docentes, ex alumnos y todo aquella persona que decida asociarse a los fines de participar activamente de la vida de la institución.

    Mediante la dirección de una Comisión Directiva elegida por los socios de la AECAC, a través del voto, conformamos una COMUNIDAD ESCOLAR en donde no hay propietarios del colegio sino que TODOS SOMOS EL COLEGIO ALEMÁN comprometiéndonos a legar una mejor institución para que nuestros alumnos puedan disfrutar de una experiencia educativa cada vez más enriquecida y a la vanguardia de las necesidades del contexto en el cual nuestros estudiantes se insertan en el mundo.</p>

    <button mat-fab extended>Ver mas</button>
  </div>
   
  </div>
