<div class="mentalidad">
    <div class="text">
        <!-- imegen -->
         <h1>Tenemos una mentalidad global</h1>
         <p>A través de más de 120 años de gestión educativa, el encuentro y la diversidad de culturas cumple un rol primario en nuestro proyecto educativo. Somos un Colegio con objetivos multiculturales y un enfoque plurilingüe.</p>

         <button  mat-fab extended>Ver mas</button>
    </div>
    

</div>
<div  >
    <div class="comunidad"></div>
    <div style="background-color: #ffffff;"
     class="text2"> 
        <div class="box1">
            <h1>Una Comunidad a la que Pertenecer</h1>
            <button mat-fab extended > Unete</button>
        </div>
        <div class="box2">
            <p>Es una característica del Colegio Alemán, tener las puertas <br/> abiertas durante todo el año para que las familias se informen <br/>y conozcan nuestra Institución.

                Estamos comprometidos en acompañarlo en cada paso para<br/> unirse a nuestra comunidad.</p>        <!-- text -->
    
        </div>
        
        
    </div>
</div>
