.carousel-container {
  width: 100%;
  height: 400px; /* Ajusta la altura según sea necesario */
  overflow: hidden;
  position: relative; /* Necesario para centrar la imagen con position absolute */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor, recortando los bordes */
  object-position: center; /* Centra la parte visible de la imagen */
  position: absolute; /* Centra la imagen dentro del contenedor */
  top: 0;
  left: 0;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

button.mat-icon-button {
  background: none; /* Elimina el fondo predeterminado de Angular Material */
}

button:nth-child(1) {
  left: 10px;
}

button:nth-child(3) {
  right: 10px;
}
.carousel-text {
  background-color: #FFC600;;
  text-align: center;
  font-size: 18px;
  height: 80px;
}